{{#if addNewPost}}
  <h2>Post a Question</h2>
  <div class="col-md-6">
    <form>
      <div class="form-group">
        <label for="author">Name</label>
        {{input value=author id="author"}}
      </div>
      
      <div class="form-group">
        <label for="title">Topic of question</label>
        {{input value=title id="title"}}
      </div>

      <div class="form-group">
        <label for="question">Question</label>
        {{textarea value=question id="question"}}
      </div>

      <div class="form-group">
        <label for="notes">Notes</label>
        {{textarea value=notes id="notes"}}
      </div>
      <a class="btn btn-dark" {{action 'cancel'}}>Cancel</a>
      <button class="btn btn-success" type="submit" {{action 'savePost'}}>Save</button>
    </form>
  </div>
{{else}}
  <button {{action 'postFormShow'}}>Post a Question</button>
{{/if}}