<div class="well">
  <h3>{{post.title}}<span class="glyphicon glyphicon-trash big"{{action 'delete' post}} data-toggle="tooltip" title="Delete question"></span></h3>
  <hr>
  <p>{{post.question}}</p>
  <p><em><sup>*</sup>{{post.notes}}</em></p>
  {{edit-post post=post edit="edit"}}
</div>
<br>
<br>

<h2 id="answers">Answers</h2>
<div class="well">
  <ul>
    {{#each post.answers as |answer|}}
      {{answer-tile answer=answer deleteAnswer="deleteAnswer"}}
    {{/each}}
  </ul>
  {{new-answer saveAnswer="saveAnswer" post=post}}
</div>